.consult {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 450px;
    background:url(../../img/bg/bg_form.jpg) center (center/cover) no-repeat;
    padding: 55px 0 30px 0;
    &__header {
        font-size: 42px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__subheader {
        text-align: center;
        background-color: rgb(160, 138, 43);
        width: 500px;
        border-radius: 4px 4px 0 0;
        font-size: 35px;
        font-weight: 700;
        line-height: 1;
        color: #161616;
        text-transform: uppercase;
    }
    &__radio-group {
        display: flex;
        justify-content: space-between;
        background-color: rgb(160, 138, 43);
        border-radius: 0 0 4px 4px;
        margin-bottom: 10px;
    }
    &__item {
        display: inline-block;
        
    }
    &__item input {
        display: none;
        }
        &:checked + label {
            background: rgb(160, 138, 43);
        }
    &__item label {
            cursor: pointer;
            background-color:#ffffff;
            border-radius: 4px;
            padding: 0px 15px;
            line-height: 34px;
            border: 1px solid #999;
            // user-select: none;

    }
}