.feed-form {
    display: flex;
    flex-direction: column;
    input {
        height: 80px;
        border-radius: 5px;
        background-color: rgb(160, 138, 43);
        margin-bottom: 15px;
        border: none;
        text-align: center;
        // color:aquamarine;
        // padding: 0 20px;
        // color: #4b4b4b;
        font-size: 40px;
        font-weight: 300;
    }
}